<h1>Listing foods</h1>

<%= render :partial => "printenv" %>
<p>
<%= link_to 'New food', new_food_path %>
</p>
<table>
  <tr>
    <th>Week</th>
    <th>Name</th>
    <th>Meatiness</th>
  </tr>

<% i = 0 %>
<% @foods.each do |food| %>
  <% i = i +1 %>
  <tr>
    <td><%=h food.week %></td>
    <td><%=h food.name %></td>
    <td class="<%=h food.meatiness %>"><%=h food.meatiness %></td>
    <td><%= link_to 'Show', food %></td>
    <td><%= link_to 'Edit', edit_food_path(food) %></td>
    <td><%= link_to 'Destroy', food, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% if i % 9 == 0 %>
    <tr><td span="6"/></tr>
    <tr><td span="6"/></tr>
    <tr><td span="6"/></tr>
    <tr><td span="6"/></tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New food', new_food_path %>
