<h1>New food</h1>

<% form_for(@food) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :week %><br />
    <%= f.text_field :week %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :meatiness %><br />
    <%= f.select(:meatiness, options_for_select([['vege', 'vege'], ['fish', 'fish'], ['pale', 'pale'], ['red', 'red']], 'vege')) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', foods_path %>
